@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

/* ul {
	list-style: none;
} */
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-color: white;
	color: #272e35;
}
.wrapper {
	/* max-width: 1440px; */
	margin: 0 auto;
}

.container {
	/* max-width: 1170px; */
	/* max-width: 1440px; */
	/* max-width: 1188px; */
	/* padding: 0 15px; */
	margin: 0 auto;
}
.container-app {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	/* position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100; */
	background-color: #ecfffb;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4.3rem 25.2rem 0 25.2rem;
}
.header-logo-image {
	height: 35px;
}
.header-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.header-menu-link {
	color: #2e342f;
	font-size: 16px;
	font-weight: 600;
}
.button--primary {
	padding: 1.55rem 2rem;
	background: #f18200;
	border-radius: 8px;
	color: #2e342f;
	font-size: 14px;
	line-height: 50px;
	font-weight: 700;
}
.button-header {
	padding: 2rem 1.6rem;
	background: #f18200;
	border-radius: 8px;
	color: #2e342f;
	font-size: 24px;
	line-height: 38px;
	font-weight: 700;
	cursor: pointer;
}
.menu-toggle {
	width: 20px;
	height: 20px;
	display: none;
}
.menu-toggle-close {
	width: 20px;
	height: 20px;
	margin-left: 20px;
	/* display: none; */
}
.header-menu-item {
	position: relative;
	padding: 20px 0;
	cursor: pointer;
}
.header-menu-item::before {
	position: absolute;
	content: "";
	bottom: 0;
	height: 3px;
	background-color: #f18200;
	width: 0;
	transition: 0.3s;
}
.header-menu-item:hover::before {
	width: 100%;
}
section {
	padding: 0px 252px;
}
.banner {
	padding: 80px 145px 91px 252px;
}
.banner-bg {
	background-color: #ecfffb;
}
.image-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.icon-title-img {
	width: 40px;
	height: 30px;
	display: inline-block;
	position: relative;
}
.icon-title-img img {
	position: absolute;
	top: -17px;
	right: -24px;
	display: block;
}
.title-flex {
	display: flex;
}
.title-flex h1 {
	font-weight: 700;
	font-size: 6rem;
	line-height: 78px;
	letter-spacing: -0.015em;
}
.title-margin {
	margin-left: 22px;
	font-weight: 700;
	font-size: 6rem;
	line-height: 78px;
	letter-spacing: -0.015em;
}

.title-X3 {
	font-weight: 700;
	font-size: 6rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	position: relative;
	display: inline-block;
	color: #f18200;
}
.title-X3::before {
	position: absolute;
	bottom: 0;
	content: "";
	width: 100%;
	height: 14px;
	background-color: #80ff44;
}
.title-now,
.title-se {
	font-weight: 700;
	font-size: 6rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	display: block;
}
.title-now-bottom {
	font-weight: 700;
	font-size: 6rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	display: block;
	margin-bottom: 4.8rem;
}
.image-banner img:last-child {
	width: 54%;
}
.about {
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 76px;
}
.about h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
}
.about-askany {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 24px;
}

/* CONTENT */
.content {
	background-color: #ecfffb;
	padding-top: 8rem;
	text-align: center;
}
.content h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: 0.1px;
	padding: 0 50px;
}

/* ABOUT */
.about-reverse {
	flex-direction: row-reverse;
}
.title-about {
	padding: 0 120px;
}

.title-about-desc {
	margin-top: 48px;
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #2e342f;
	padding: 0 100px;
}

.about-item {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	padding: 49.5px 52.88px 49.5px 49px;
	background: #ffffff;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	cursor: pointer;
	gap: 98px;
	margin-top: 100px;
}
.about-item:first-child {
	margin-top: 48px;
}
.about-item img {
	width: 355px;
	height: 355px;
	object-fit: cover;
}
.about-item-desc {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}
.about-item-content h1 {
	letter-spacing: 0.1px;
	font-weight: 700;
	font-size: 36px;
	line-height: 50px;
	color: #ff9900;
}
.about-item-content h2 {
	font-weight: 600;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.1px;
	margin-top: 4px;
}
.about-item-content {
	text-align: left;
}
.about-item-exp {
	text-align: left;
	margin-top: 16px;
	padding-left: 25px;
}
.about-item-exp li {
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	color: #555b56;
	letter-spacing: 0.1px;
}
.about-item-exp li strong {
	font-weight: 700;
}
.about-item-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
}
.button-about {
	border: 1px solid #2e342f;
	border-radius: 12px;
	font-weight: 700;
	font-size: 22px;
	line-height: 38px;
	color: #2e342f;
	letter-spacing: 0.1px;
}
.button-transparent {
	padding: 15.6px 24px;
}
.button-contact {
	background: #ff9900;
	border: none;
	padding: 15.6px 21px;
}

/*
RESPONSIVE
$media-fullhd: "only screen and (max-width : 1440px)";
$media-tablet-horizontal: "only screen and (max-width : 1160px)";
$media-tablet-vertical: "only screen and (max-width : 900px)";
$media-ipad: "only screen and (max-width : 769px)";
$media-phone: "only screen and (max-width : 767px)";
$media-small-phone: "only screen and (max-width : 320px)";
*/

/* @media (max-width: 1500px) {
	.title-now {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		display: block;
	}
	.title-now-bottom {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		display: block;
		margin-bottom: 4.8rem;
	}

	.title-flex h1 {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
	}
	.title-margin {
		margin-left: 22px;
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
	}
	.title-X3 {
		font-weight: 700;
		font-size: 6rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		position: relative;
		display: inline-block;
		color: #f18200;
	}
} */

@media only screen and (max-width: 1440px) {
	.header {
		padding: 2rem 10rem;
	}
	section {
		padding: 10rem 10rem;
	}
	.banner {
		/* padding: 80px 145px 91px 252px; */
		padding: 5rem 10rem 10rem;
	}
	.title-now-bottom,
	.title-now,
	.title-X3,
	.title-se {
		font-size: 5rem;
		/* line-height: 50px; */
	}
}

@media only screen and (max-width: 1200px) {
	.header {
		padding: 2rem 5rem;
	}
	section {
		padding: 10rem 5rem;
	}
	.banner {
		/* padding: 80px 145px 91px 252px; */
		padding: 5rem 5rem 10rem;
	}
}

@media only screen and (max-width: 1023px) {
	.header {
		padding: 2rem 10rem;
	}
	section {
		padding: 10rem 10rem;
	}
	.banner {
		padding: 2rem 10rem 10rem;
	}
	.title-now-bottom,
	.title-now,
	.title-X3,
	.title-se {
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: -0.015em;
		line-height: 50px;
	}
	.title-X3 {
		font-weight: 700;
		/* font-size: 6rem; */
		line-height: 70px;
		letter-spacing: -0.015em;
		position: relative;
		display: inline-block;
		color: #f18200;
	}
	.title-X3::before {
		position: absolute;
		bottom: 0;
		content: "";
		width: 100%;
		height: 10px;
		background-color: #80ff44;
	}
}
@media only screen and (max-width: 900px) {
	.header {
		padding: 2rem 2rem;
		gap: 20px;
	}
	section {
		padding: 10rem 2rem;
	}
	.banner {
		padding: 2rem 2rem 10rem;
	}
	.title-now-bottom,
	.title-now,
	.title-X3,
	.title-se {
		font-size: 3rem;
		font-weight: 700;
		line-height: 40px;
	}
	.title-now-bottom {
		margin-bottom: 30px;
	}
	.title-now,
	.title-se {
		font-size: 3rem;
		line-height: 30px;
	}
	.title-X3 {
		font-weight: 700;
		/* font-size: 6rem; */
		line-height: 60px;
		letter-spacing: -0.015em;
		position: relative;
		display: inline-block;
		color: #f18200;
	}
	.title-X3::before {
		position: absolute;
		bottom: 0;
		content: "";
		width: 100%;
		height: 9px;
		background-color: #80ff44;
	}
}
@media only screen and (max-width: 890px) {
	.menu-toggle {
		display: block;
	}
	.header-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		z-index: 1000;
		display: block;
		width: 90%;
		max-width: 300px;
		border-left: 1px solid #eee;
		padding: 50px 15px;
		transform: translateX(100%);
		transition: transform 0.25s linear;
	}
	.header-menu.is-active {
		transform: translateX(0);
	}
	.header-auth {
		margin-left: auto;
	}
	.header-menu-link {
		display: block;
		padding: 20px;
		border-radius: 6px;
	}
	.header-menu-link:hover {
		color: white;
		background-color: #646564;
	}
}
