@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-color: white;
	color: #272e35;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	/* max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto; */
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4.3rem 25.2rem 0 25.2rem;
}
.header-logo-image {
	height: 35px;
}
.header-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.header-menu-link {
	color: #2e342f;
	font-size: 16px;
	font-weight: 600;
}
.button--primary {
	padding: 1.55rem 2rem;
	background: #f18200;
	border-radius: 8px;
	color: #2e342f;
	font-size: 14px;
	line-height: 50px;
}
.header-menu-item {
	position: relative;
	padding: 20px 0;
	cursor: pointer;
}
.header-menu-item::before {
	position: absolute;
	content: "";
	bottom: 0;
	height: 3px;
	background-color: #f18200;
	width: 0;
	transition: 0.3s;
}
.header-menu-item:hover::before {
	width: 100%;
}
section {
	padding: 0px 252px;
}
.banner {
	background-color: #ecfffb;
	padding-top: 12.1rem;
	padding-bottom: 76px;
}
.image-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.image-banner img:first-child {
	width: 504px;
	/* height: 319px; */
}
.image-banner img:last-child {
	width: 504px;
	/* height: 319px; */
}
.about {
	text-align: center;
	padding-top: 12.1rem;
	padding-bottom: 76px;
}
.about h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
}
.about-askany {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 24px;
}
.about-item {
	width: calc(50% - 12px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 38px 29px 0px 29px;
	height: 456px;
	border-radius: 12px;
	margin-top: 24px;
}
.about-item span {
	text-align: left;
	padding-top: 3.2rem;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	word-break: break-word;
	font-style: normal;
	letter-spacing: 0.1px;
}
.about-item h2 {
	padding-top: 3.2rem;
}
.about-item img {
	width: 140px;
	height: 140px;
	object-fit: cover;
}
.about-item:nth-child(1) {
	background: #c9fcf2;
}
.about-item:nth-child(2) {
	background: #207364;
	color: white;
}
.about-item:nth-child(3) {
	background: #207364;
	color: white;
}
.about-item:nth-child(4) {
	background: #c9fcf2;
}
