@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-color: white;
	color: #272e35;
}
.wrapper {
	/* max-width: 1440px; */
	margin: 0 auto;
}

.container {
	/* max-width: 1170px; */
	/* max-width: 1440px; */
	/* padding: 0 15px; */
	margin: 0 auto;
}

.header {
	/* position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100; */
	background-color: #ecfffb;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4.3rem 25.2rem 0 25.2rem;
}
.header-logo-image {
	height: 35px;
}
.header-menu {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.header-menu-link {
	color: #2e342f;
	font-size: 16px;
	font-weight: 600;
}
.button--primary {
	padding: 1.55rem 2rem;
	background: #f18200;
	border-radius: 8px;
	color: #2e342f;
	font-size: 14px;
	line-height: 50px;
	font-weight: 700;
}
.button-header {
	padding: 2rem 1.6rem;
	background: #f18200;
	border-radius: 8px;
	color: #2e342f;
	font-size: 24px;
	line-height: 38px;
	font-weight: 700;
	cursor: pointer;
}
.header-menu-item {
	position: relative;
	padding: 20px 0;
	cursor: pointer;
}
.header-menu-item::before {
	position: absolute;
	content: "";
	bottom: 0;
	height: 3px;
	background-color: #f18200;
	width: 0;
	transition: 0.3s;
}
.header-menu-item:hover::before {
	width: 100%;
}
section {
	padding: 0px 252px;
}
.banner {
	background-color: #ecfffb;
	padding-top: 8rem;
	padding-bottom: 76px;
}
.image-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.icon-title-img {
	width: 40px;
	height: 30px;
	display: inline-block;
	position: relative;
}
.icon-title-img img {
	position: absolute;
	top: -17px;
	right: -24px;
	display: block;
}
.title-flex {
	display: flex;
}
.title-flex h1 {
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	letter-spacing: -0.015em;
}
.title-margin {
	margin-left: 22px;
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	letter-spacing: -0.015em;
}

.title-se {
	display: inline-block !important;
}

.image-banner img:first-child {
	width: 504px;
	/* height: 319px; */
}
.title-X3 {
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	position: relative;
	display: inline-block;
	color: #f18200;
}
.title-X3::before {
	position: absolute;
	bottom: 0;
	content: "";
	width: 100%;
	height: 14px;
	background-color: #80ff44;
}
.title-now {
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	display: block;
}
.title-now-bottom {
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 78px;
	letter-spacing: -0.015em;
	display: block;
	margin-bottom: 4.8rem;
}
.image-banner img:last-child {
	width: 504px;
	/* height: 319px; */
}
.about {
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 76px;
}
.about h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
}
.about-askany {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 24px;
}

/* CONTENT */
.content {
	background-color: #ecfffb;
	padding-top: 8rem;
	text-align: center;
}
.content h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: 0.1px;
	padding: 0 50px;
}

/* REPONSIVE */
@media (max-width: 1500px) {
	.title-now {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		display: block;
	}
	.title-now-bottom {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		display: block;
		margin-bottom: 4.8rem;
	}
	.image-banner i:last-child {
		width: 400px;
		/* height: 319px; */
	}
	.title-flex h1 {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
	}
	.title-margin {
		margin-left: 22px;
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
	}
	.title-X3 {
		font-weight: 700;
		font-size: 4.5rem;
		line-height: 78px;
		letter-spacing: -0.015em;
		position: relative;
		display: inline-block;
		color: #f18200;
	}
}
@media (max-width: 1200px) {
	.header {
		padding: 2rem 2rem;
	}
	section {
		padding: 10rem 2rem;
	}
}
